body{
    text-align: center;
}

.card {
    width: 50%;
    display: inline-block;
    color: black;
}

hr{
    width: 60%;
    border-width: 2px;
}

.cards{
    
    background-color: #effad3;
}

.a:hover{
    color: brown;
}