@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0px;
    padding: 0px;

}
html{
    scroll-behavior: smooth;
}
.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;


}
.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;

}

.nav-list  li{
    list-style: none;
    padding: 5px 20px 5px 20px;
    
}

.nav-list li a{
    text-decoration: none;
    color: white;
    transition: 0.35s;
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
}

.nav-list li a:hover{ opacity: 1;



}
.rightNav{
    /* background-color: aquamarine; */
    width: 30%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    
}

.logo{
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 73%;
    padding-left: 10px;

}

#search{
    padding: 4px;
    font-size: 16px;
    border: 1px solid grey;
    border-radius: 30px;
}

.bg{
    background:rgba(0,0,0,0.7) url('images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    padding-top: 10px;
    height: 45%;
}

.first-half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.second-half{
    width: 30%;
}

.second-half img{
    width: 90%;
    border: 38px;
    border-radius: 6000px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 43px;
}

.text-small{
    margin-top: 10px;
    font-size: 18px;
}

.btn{
    padding: 5px 9px;
    margin: 3px 7px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 13px;
    color:black;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    vertical-align: middle;

}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;

}
.section-left{
    flex-direction: row-reverse;
}


.para{
    padding: 0px 50px;
}

.thumbnail img{
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    margin-top: 18px;
}

.secTag{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sectionSubTag{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text-footer{
    text-align: center;
    padding: 6px 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 10px;

}

.line{
    width: 20px;
    background-color: white;
    height: 2px;
    margin: 3px;
}
.text-above-bestplaces{
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
@media only screen and (max-width: 960px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 300px;
        flex-direction: column;
        transition: all 0.5s ease-out;
    }
    .rightNav{
        text-align: center;
    }
    #search{
        max-width: 100%;
    }
    .burger{
        display: block;
    }
    .height-nav-resp{
        height: 40px;
    } 
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-big{
        text-align: center;
    }
    .text-small{
        text-align: center;
    }
    .para{
        padding: 0px;
    }
    .thumbnail img{
        max-width: 100%;
    }
    .second-half img{
        max-width: 100%;
    }
}