@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Copse&display=swap');



*{
    margin: 0px;
    padding: 0px;

}
html{
    scroll-behavior: smooth;
}
.navbar{

    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0%;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    /* background-color: black; */
    display: flex;
    align-items: center;

}

.nav-list  li{
    list-style: none;
    padding: 5px 20px 5px 20px;
    
}

.nav-list li a{
    text-decoration: none;
    color: white;
    transition: 0.35s;
    opacity: 0.6;
    font-family: 'Lato', sans-serif;
}

.nav-list li a:hover{ opacity: 1;}

.button-link{
    text-decoration: none;
    color: black;
}


.searchBar-home{
    margin: auto;
    width: 50%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    
}

.rightNav{
    width: 30%;
    text-align: right;
    font-family: 'Lato', sans-serif;
    
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 42%;
    padding-left: 10px;

}

.search-home{
    margin-top: 10px;
    padding: 10px 77px 10px 13px;
    font-size: 18px;
    border-radius: 30px;
}
#search{
    
    border: 1px solid grey;
    
}

.search-other{
    padding: 5px 4px;
    font-size: 16px;
    border-radius: 30px;
}

.bg{
    background:rgba(0,0,0,0.7) url('/images/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
}
.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    justify-items: center;
    align-items: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 50%;
    margin: auto;
    padding-top: 10px;
    height: 45%;
}

.first-half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.second-half{
    width: 30%;
}

.second-half img{
    width: 90%;
    border: 38px;
    border-radius: 6000px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 43px;
}

.text-small{
    margin-top: 10px;
    font-size: 18px;
}

.btn-home{
    padding: 11px 43px;
    margin: 4px 7px;
    border: 1px solid white;
    border-radius: 21px;
    font-size: 16px;
    color:black;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.5s;
    vertical-align: middle;

}


.btn-home:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

.btn{
    padding: 5px 9px;
    margin: 3px 7px;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 13px;
    color:black;
    cursor: pointer;
    /* opacity: 0.6; */
    transition: 0.5s;
    vertical-align: middle;

}

.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    opacity: 1;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
    padding: 10px;

}
.section-left{
    flex-direction: row-reverse;
}


.para{
    padding: 0px 50px;
}

.thumbnail img{
    width: 270px;
    border: 2px solid white;
    border-radius: 20px;
    margin-top: 18px;
}

.secTag{
    font-family: 'Copse', serif;
}

.sectionSubTag{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 22px;
}

.text-footer{
    text-align: center;
    padding: 6px 0px;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 10px;

}

.line{
    width: 20px;
    background-color: white;
    height: 2px;
    margin: 3px;
}
.text-above-bestplaces{
    font-size: 5vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

