{% extends 'Places/base.html' %}
{% load static %}
{% block title %}Travelista | About Us{% endblock %}

{% block content %}
<nav class="navbar bg height-nav-resp" style="position: inherit;">
        <ul class="nav-list v-class-resp">
            <div class="logo"><img src="{% static '/images/logo.jpg' %}" alt="logo" class="lolo"></div>
            <li class="listItem"><a href="{% url 'index' %}">Home</a></li>
            <li class="listItem"><a href="{% url 'about' %}">About</a></li>
            {% comment %} <li><a href="{% url 'city' %}">Best Places to Visit</a></li> {% endcomment %}
            <li class="listItem"><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>

        {% comment %} <div class="mt-5 text-center ml-auto mr-auto" style="max-width: 600px;">
            <form action="city" method="GET">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" name="city_name" placeholder="Enter city name...">
                    <div class="input-group-append">
                        <button class="btn btn-danger" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div> {% endcomment %}

        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </nav>
    <section class="main">
        <div class="container">
            <div class="head" style="
            position: inherit;
            background: none;
            margin: 0 auto;">
             <h1>About Travelista</h1>
             <p class="para">Make your travel easy with Travelista.</p>
            </div>

            {% comment %} <div class="wrap">
                <div class="wrap_photo1">
                    <img src="{% static '/images/photo1.jpg' %}" alt="">
                </div>
            </div> {% endcomment %}

            <div>
                <h2 class="vision">Our Vision</h2>
                <p class="vision_data">We are always there to make your travel full with comfort and with fun.
                We always try to provide you accurate and real image of every of place.
                </p>
            </div>
            <div>
                <h2 class="team">Our Team</h2>
                <p class="about">We are four engineering students who loves to travel and for the ease of other 
                    people, we had developed this website.
                </p>
            </div>
            <div class="row">
                <div class="team-items">
                     <div class="item">
                         <img src="{% static '/images/img3.jpeg' %}" alt="team" style="width: 88%; margin: 0 auto;">
                         <div class="inner" style="width: 87%; margin: 0 auto;">
                             <div class="info">
                                  <h5>Parth Gupta</h5>
                                  <p>Back End Developer</p>
                                  <div class="social-links">
                                      <a href="https://www.facebook.com/parthguptaa/"><span class="fa fa-facebook"></span></a>
                                      <a href="https://twitter.com/parthguptaa_/"><span class="fa fa-twitter"></span></a>
                                      <a href="https://www.linkedin.com/in/parth-gupta-0691071bb/"><span class="fa fa-linkedin"></span></a>
                                      <a href="https://www.instagram.com/parthguptaa_/"><span class="fa fa-instagram"></span></a>
                                  </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <img src="{% static '/images/img29.jpg' %}" alt="team" style="width: 88%; margin: 0 auto;">
                         <div class="inner" style="width: 87%; margin: 0 auto;">
                             <div class="info">
                                  <h5>Tejashvi Goyal</h5>
                                  <p>Back End Developer</p>
                                  <div class="social-links">
                                      <a href="https://www.facebook.com/tejashvi.goyal.3"><span class="fa fa-facebook"></span></a>
                                      <a href="https://twitter.com/@YashGoy92051662"><span class="fa fa-twitter"></span></a>
                                      <a href="https://www.linkedin.com/in//"><span class="fa fa-linkedin"></span></a>
                                      <a href="https://www.instagram.com/yashgoyal752/"><span class="fa fa-instagram"></span></a>
                                  </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <img src="{% static '/images/img1.jpeg' %}" alt="team" style="width: 88%; margin: 0 auto;">
                         <div class="inner" style="width: 87%; margin: 0 auto;">
                             <div class="info">
                                  <h5>Rajdeep Srivastava</h5>
                                  <p>Front End Developer</p>
                                  <div class="social-links">
                                      <a href="https://www.facebook.com/rajdeep.srivastav.1"><span class="fa fa-facebook"></span></a>
                                      <a href="https://twitter.com/RajdeepShriva15/"><span class="fa fa-twitter"></span></a>
                                      <a href="https://www.linkedin.com/in/rajdeep-shrivastava-225b331a4/"><span class="fa fa-linkedin"></span></a>
                                      <a href="https://www.instagram.com/raz_ae.dit/"><span class="fa fa-instagram"></span></a>
                                  </div>
                             </div>
                         </div>
                     </div>
                     <div class="item">
                         <img src="{% static '/images/img21.jpg' %}" alt="team" style="width: 88%; margin: 0 auto;">
                         <div class="inner" style="width: 87%; margin: 0 auto;">
                             <div class="info">
                                  <h5>Ankit Srivastava</h5>
                                  <p>Front End Developer</p>
                                  <div class="social-links">
                                      <a href="https://www.facebook.com/ankit.srivastava.7549185/"><span class="fa fa-facebook"></span></a>
                                      <a href="https://twitter.com/@AnkitSr23898466"><span class="fa fa-twitter"></span></a>
                                      <a href="https://www.linkedin.com/in/ankit-srivastava-5081ba1a5/"><span class="fa fa-linkedin"></span></a>
                                      <a href="https://www.instagram.com/ankit_3_00/"><span class="fa fa-instagram"></span></a>
                                  </div>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
</section>
<footer>
    <p class="text-footer bg" style="margin: 0 auto; position: relative; top: 90px;">
        Copyright &copy; 2020 www.travelistas.herokuapp.com - All rights reserved
    </p>
   
</footer>
<script src="{% static '/js/resp.js' %}"></script>
{% endblock %}